 #container{
    height:600px;
    width: 100%;
    /* background-color:aqua; */
}
 /* #header{
    height: 20%;
    width: 100%;
    background-color: blue;
}
#nav{
    height: 7%;
    width: 100%;
    background-color: green;
    padding-top: 20px;
} */ 
#content{
    height: 55%;
    width: 100%;
    /* background-color: yellow; */
}
/* #footer{
    height: 18%;
    width: 100%;
    background-color: red;
}
#sidebar{
    height: 100%;
    width: 20%;
    background-color: pink;
    float: left;
}
#mainpart{
    height: 100%;
    width: 80%;
    background-color: orange;
    float: right;
} */ 